{% extends 'layout.html' %} {% block body %}

<div class="col-md-8 offset-md-2">

    <div class="card card-body">
        <form action="/update/{{productos.0}}" method="POST">

            <div class="form-group">
                <input type="text" name="Codigo" placeholder="Codigo" value="{{productos.0}}" class="form-control">
            </div>

            <div class="form-group">
                <input type="text" name="Nombre" placeholder="Nombre" value="{{productos.1}}" class="form-control">
            </div>

            <div>
                <input type="text" name="Descripcion" placeholder="Descripcion" value="{{productos.2}}" class="form-control">
            </div>

            <div>
                <input type="text" name="Departamento" placeholder="Departamento" value="{{productos.3}}" class="form-control">
            </div>

            <div>
                <input type="text" name="Seccion" placeholder="Seccion" value="{{productos.4}}" class="form-control">
            </div>

            <div>
                <input type="text" name="PrecioCompra" placeholder="Precio de compra" value="{{productos.5}}" class="form-control">
            </div>

            <div>
                <input type="text" name="PrecioVenta" placeholder="Precio de venta" value="{{productos.6}}" class="form-control">
            </div>

            <div>
                <input type="text" name="Stock" placeholder="Stock" value="{{productos.7}}" class="form-control">
            </div>

            <div>
                <input type="text" name="Imagen" placeholder="Imagen" value="{{productos.8}}" class="form-control">
            </div>

            <div class="form-group">

                <button type="submit" class="btn btn-success btn-block">Guardar</button>

            </div>

        </form>

    </div>

</div>

{% endblock %}