<form action="/update/{{productos.0}}" method="POST">

    <input type="text" name="Codigo" placeholder="Codigo" value="{{productos.0}}">
    <input type="text" name="Nombre" placeholder="Nombre" value="{{productos.1}}">
    <input type="text" name="Descripcion" placeholder="Descripcion" value="{{productos.2}}">
    <input type="text" name="Departamento" placeholder="Departamento" value="{{productos.3}}">
    <input type="text" name="Seccion" placeholder="Seccion" value="{{productos.4}}">
    <input type="text" name="PrecioCompra" placeholder="Precio de compra" value="{{productos.5}}">
    <input type="text" name="PrecioVenta" placeholder="Precio de venta" value="{{productos.6}}">
    <input type="text" name="Stock" placeholder="Stock" value="{{productos.7}}">
    <input type="text" name="Imagen" placeholder="Imagen" value="{{productos.8}}">
    <button type="submit">Guardar</button>

</form>